@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    height: 90vh;
}

.body {
    padding-top: 65px;
    position: relative;
    width: 450px;
    height: 570px;
    top: calc(50% - 580px / 2);
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    /* border-color: grey; */
    border: 2px solid rgb(214, 207, 207);
}

.img {
    padding: 1px 2px 1px 2px;
    width: 98px;
    height: 30px;
}

.signin {
    padding-top: 5px;
    font-weight: 300;
    font-size: large;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.text {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 25px;
    font-size: medium;

}

.form-container {
    padding-top: 30px;
    margin: 0 auto;
}

input[type="email"] {
    border: none;
    outline: none;
    background: none;
    font-size: 20px;
    color: black;
    padding: 20px 10px 20px 5px;
    border: 1px solid rgb(214, 207, 207);
    width: 380px;
    height: 55px;
    font-size: 15px;
    margin: 15px;
    border-radius: 2px;
    box-sizing: border-box;
    text-align: left;
    overflow: hidden;
    font-family: 'Poppins', san-serif;
}

.helpBtn {
    float: left;
    font-size: 15px;
    font-weight: 700;
}

.help {
    padding: 8px;
    margin-left: 27px;
    color: #4d90fe;

}


.txt {
    float: left;
    margin-left: 30px;
    font-family: sans-serif;
    margin-top: 45px;
    color: rgb(128, 122, 122);
}

.learn .lrn {
    float: left;
    margin-bottom: 25px;
    margin-left: 30px;
    color: #4d90fe;
    font-size: 15px;
    font-weight: 700;
}

.create {
    padding-top: 100px;
    margin-top: 40px;
    margin-left: 24px;
    font-size: 18px;
    font-weight: 600;
}

.crt {
    float: left;
    padding: 8px;
    color: #4d90fe;

}

.btn {
    float: right;
    margin-right: 30px;
    border-color: #4285F4;
    border-radius: 3px;
    margin-top: 7px;
    margin-bottom: 8px;
    height: 40px;
    font-size: 17px;
    width: 77px;
    color: #ffffff;
    background-color: #0f61e4;
    cursor: pointer;
}

footer {
    font-size: .85em;
    bottom: 0;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    color: #737373;
}


footer {
    font-size: .85em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 36px;
    color: #ffffff;
}

footer a {
    color: #737373;
}

footer .links {
    float: right;
}

footer .links li {
    margin-right: 90px;
    display: inline;
    padding-right: 1.5em;
}

footer ul {
    margin-top: 5px;
}

footer .select-language {
    float: left;
}

.select-language select {
    height: 24px;
    line-height: 24px;
    width: 167px;
    margin: 0 2px;
}

.select-language img {
    vertical-align: top;
}